.card {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background: #f3f4f6;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.image {
  height: 120px;
  background: #d1d5db;
  border-radius: 10px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.stock {
  color: green;
  background: #d1fae5;
  padding: 5px 10px;
  border-radius: 20px;
}

.out {
  color: red;
  background: #fee2e2;
  padding: 5px 10px;
  border-radius: 20px;
}
